

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 
 */

#page-wrapper {
}

.article-thumbnail {
    overflow:hidden;
    width: 100%;
    height: 150px;
}

.bold {
	font-weight: bold;
}
 
.sort-by {
	margin-bottom:10px;
}

.info-block-Democrate
{
    border-right:5px solid #0055a5;margin-bottom:10px
}
.info-block-Republican
{
    border-right:5px solid #EE3523;margin-bottom:10px
}
.info-block-Independent
{
    border-right:5px solid #DDDDDD;margin-bottom:10px
}
.list-header {
	font-size: 1.25em;
	margin-bottom: 0px;
}
.list-sub-header {
	font-size: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}
.role-item {
	border-bottom:1px solid #DDDDDD;
	margin-bottom:10px;
}
.role-list {
	color: #333333;
}
.role-item-fullname {
 font-size: 24px;
}
.role-item-desc {
	font-size: 18px;
}

.sort-by-btn {
	padding-left: 0;
	padding-right: 0;
}

.sort-by-btn:first-child {
	padding-left: 15px;
}
.sort-by-btn:last-child {
	padding-right: 15px;
}

.square-box
{
    padding-right:50px;
    text-align:center!important
}
.info-block.block-info
{
    border-color:#20819e
}